<iframe src="https://www.youtube.com/embed/EniBzxj3zc8?autoplay=1&mute=1&loop=1&controls=0" frameborder="0" 
class="w-full h-[80%] absolute"></iframe>

<div class="h-screen bg-white">
  <div class="pt-[20%] px-24 absolute h-[80%] text-white bg-gradient-to-r from-black">
    <h1 class="text-6xl font-bold">KGF Chapter 1</h1>
    <p class="inline-block py-6 text-lg w-1/2 flex-wrap">Rocky, a young man, seeks power and wealth in order to fulfil a promise to his dying mother. His quest takes him to Mumbai, where he gets involved with the notorious gold mafia.</p>
    <div>
      <button class="bg-white text-black py-3 px-10 text-xl rounded-lg hover:bg-opacity-70 transition-[1s]">
        ▶️ Play
      </button>
      <button class="mx-2 bg-red-500 py-3 px-10 text-white text-xl bg-opacity-50 rounded-lg hover:bg-opacity-70">
        More Info
      </button>
    </div>
  </div>
</div>